
*.pyc
*.pyc
*.pyc
*.pyc
appleinvaders2/__pycache__/settings.cpython-37.pyc
appleinvaders2/__pycache__/sprites.cpython-37.pyc
*.pyc
*.pyc
*.pyc
pgzero/pgzintro/images/.DS_Store
*.pyc
pizzaplane/.DS_Store
